<!-- Bắt đầu trang cate1 -->
<div class="box-3-1">
    <div class="contents box-article">
        <?php if (!empty($pinedArticles)) : ?>
            <div class="box-article">
                <?php
                $posts = $pinedArticles;
                $firstPost = array_shift($posts);

                ?>
                <div class="pull-left tieudiem main">
                    <?php $this->partial('partials/article-wide-large', ['post' => $firstPost]); ?>
                </div>
                <div class="box-related pull-left side box-margin-bottom">
                    <?php foreach ($posts as $index => $post) : ?>
                        <?php $this->partial('partials/article-wide-small', ['heading' => 'h2']); ?>
                    <?php endforeach; ?>
                </div>
                <div class="clearfix">
                </div>
            </div>
        <?php endif; ?>

        <!-- start tin anh -->
        <!--        <% with $GetAds %>-->
        <!--        <% if $Pc_Mid %>-->
        <!--        <style>-->
        <!--            .box-qc-wide.small.header-desktop > .qc-wrapper {-->
        <!--                overflow: hidden;-->
        <!--                margin: auto;-->
        <!--            }-->
        <!--        </style>-->
        <!--        <div class="full-width">-->
        <!--            <div class="box-qc-wide small header-desktop">-->
        <!--                <div class="qc-wrapper">-->
        <!--                    $Pc_Mid-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <% end_if %>-->
        <!--        <% end_with %>-->
        <?php $this->partial('category/blocks/main-content'); ?>


    </div>

    <?php if (!empty($ads['Pc_Side'])) : ?>
        <?php
        $topSidebarAds = array_slice($ads['Pc_Side'], 0, 1);
        $bottomSidebarAds = array_slice($ads['Pc_Side'], 1);
        ?>

        <div class="side-bar">
            <!-- Display first ad -->
            <div class="box-aside">
                <?= $topSidebarAds[0] ?>
            </div>

            <!-- Theo dong su kien -->
            <?php if (!empty($pinedEvent)) : ?>
                <div class="box-aside">
                    <?php $this->partial('partials/box-events', [
                            'event' => $pinedEvent,
                            'posts' => $pinedEventArticles,
                            'headerTitle' => 'Theo dòng sự kiện',
                            'headerLink' => $pinedEvent['slug'],
                            'showHorizontalLine' => true]) ?>
                </div>
            <?php endif; ?>

            <!-- Pined poll -->
            <?php if (!empty($pinedPoll)) : ?>
                <div class="box-aside">
                    <section class="pollForm_Wraper" data-id="<?= $category['pinedPollId'] ?>"></section>
                </div>
            <?php endif; ?>

            <!-- Display other ads -->
            <?php if (!empty($bottomSidebarAds)) : ?>
                <?php foreach ($bottomSidebarAds as $ad) : ?>
                    <div class="box-aside">
                        <?= $ad ?>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>

    <?php endif; ?>

    <div class="clearfix"></div>
</div>


<?php if (APPLICATION_ENV == DEVELOPMENT) : ?>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Hiển thị debug infos</button>
    <div id="demo" class="collapse">
        <h2>isPrimaryCategory</h2>
        <pre><?php print_r($isPrimaryCategory); ?></pre>


        <h2>category</h2>
        <pre><?php print_r($category); ?></pre>


        <h2>totalArticles</h2>
        <pre><?php print_r($totalArticles); ?></pre>


        <h2>page</h2>
        <pre><?php print_r($page); ?></pre>


        <h2>itemsPerPage</h2>
        <pre><?php print_r($itemsPerPage); ?></pre>


        <h2>mostReadArticles</h2>
        <pre><?php print_r($mostReadArticles); ?></pre>


        <h2>latestPhotoAndVideos</h2>
        <pre><?php print_r($latestPhotoAndVideos); ?></pre>


        <h2>articlesInPage</h2>
        <pre><?php print_r($articlesInPage); ?></pre>


        <h2>pinedArticles</h2>
        <pre><?php print_r($pinedArticles); ?></pre>


        <h2>subNavCategoryIds</h2>
        <pre><?php print_r($subNavCategoryIds); ?></pre>


        <h2>allCategories</h2>
        <pre><?php print_r($allCategories); ?></pre>
    </div>
<?php endif; ?>


