<h2>Search Results</h2>
<?php if (empty($articles)) : ?>
    <p>Không tìm thấy kết quả.</p>
<?php else :?>
    <?php foreach ($articles as $article) : ?>
        <p><a href="<?= $article['slug'] ?>"><?= $article['title'] ?></a> - <a href="<?= $article['imageUrl'] ?>">Ảnh đại diện</a></p>
    <?php endforeach; ?>
<?php endif; ?>


<br/>
<h2>MetaTags</h2>
<?php var_dump($metaTags) ?>