<div class="box-news">
    <a href="<?= $post['slug'] ; ?>" class="image image-wrapper">
        <div class="image image-medium">
            <img src="<?= $imageHelper->generateThumbLink($post['imageUrl'], 266, 164); ?>" alt="<?= $post['title'] ; ?>">
        </div>
    </a>
    <div class="content">
        <h3 class="title fs4 f-rsb">
            <a href="<?= $post['slug'] ; ?>">
                <?= $post['title'] ; ?>
                <?php $this->partial('partials/content-type'); ?>

            </a>
        </h3>
    </div>
</div>