<div class="box-news ">
    <div class="image image-wrapper">
        <a href="<?= $post['slug']; ?>" class="image-wide-large image">
            <img src='<?= $imageHelper->generateThumbLink($post['imageUrl'], 580, 305); ?>'
                 alt="<?= $post['title']; ?>">
        </a>
    </div>
    <div class="content">
        <h2 class="title f-rsb fs6">
            <a href="<?= $post['slug']; ?>">
                <?= $post['title']; ?>
                <?php $this->partial('partials/content-type'); ?>
            </a>
        </h2>
        <span class="snippet fs3 f-rr"><?= $post['sapo']; ?></span>
    </div>
</div>