<div class="box-news full-width">

    <div class="image image-wrapper">
        <a href="<?= $post['slug']; ?>"
           class="image image-wide-medium <?= $post['contentType'] == 'video' ? 'video' : ''; ?>">
            <img src='<?= $imageHelper->generateThumbLink($post['imageUrl'], 245, 138); ?>'
                 alt="<?= $post['title']; ?>">
        </a>
    </div>
    <div class="content">
        <?php if (isset($heading) && $heading == 'h2') : ?>
            <h2 class="title f-rsb fs4">
                <a href="<?= $post['slug']; ?>"> <?= $post['title']; ?><?php $this->partial('partials/content-type'); ?>
                </a>
            </h2>
        <?php else : ?>
            <h3 class="title f-rsb fs4">
                <a href="<?= $post['slug']; ?>"> <?= $post['title']; ?><?php $this->partial('partials/content-type'); ?>
                </a>
            </h3>
        <?php endif; ?>
    </div>
</div>