<div class="box-news box-news-image-left" data-id="<?= $post['id']; ?>">
    <a href="<?= $post['slug']; ?>" class="image image-wrapper">
        <div class="image image-medium">
            <img src='<?= $imageHelper->generateThumbLink($post['imageUrl'], 280, 173); ?>'
                 alt="<?= $post['title']; ?>">
        </div>
    </a>
    <div class="content">
        <h3 class="title fs5 f-rsb">
            <a href="<?= $post['slug']; ?>">
                <?= $post['title']; ?>
                <?php $this->partial('partials/content-type', ['post' => $post]); ?>
            </a>
        </h3>

        <div class="additional-info">
            <?php if (!empty($anchorText)) : ?>
                <div class="event-or-tag f-rsr">
                    <a href="<?= $anchorTextLink ?>" title="<?= $anchorText ?>"><?= $anchorText ?></a>
                </div>
            <?php endif; ?>

            <?php if (!empty($post['publishTime'])) : ?>
                <div class="datetime">
                    <p><?= $dateHelper->dateOnly($post['publishTime']) ?></p>
                    <p class="upcase"><?= $dateHelper->time24hOnly($post['publishTime']) ?></p>
                </div>
            <?php endif; ?>
        </div>

        <span class="snippet fs3 f-rr"><?= $post['sapo'] ; ?></span>
    </div>
</div>