<div class="box-category">
    <?= $this->partial('partials/box-header', ['box' => $box]); ?>
    <?php if (!empty($box['Posts'])):; ?>
        <div class="content binhluannhieu">
            <ul class="related-links fs3 pull-left f-rsb">
                <?php foreach ($box['Posts'] as $post): ?>
                    <li>
                        <h3>
                            <a href="<?= $post['slug']; ?>"><?= $post['title']; ?> <?= $this->partial('partials/content-type'); ?></a>
                        </h3>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php endif; ?>

</div>