<div class="box-category">
    <?php if (!empty($showHorizontalLine)): ?>
        <div class="horizontal-line">
            <div class="small-line">
            </div>
        </div>
    <?php endif; ?>

    <div class="box-navigation vertical-items">
        <h3 class="title upcase fs6 f-rb">
            <?php if (!empty($headerLink)) : ?>
                <a href="<?= $headerLink ?>"><?= $headerTitle ?></a>
            <?php else : ?>
                <?= $headerTitle ?>
            <?php endif; ?>
        </h3>
        <?php if (!empty($navigation)): ?>
            <ul class="ul-inline ul-vertical-line vertical-text-black">
                <?php foreach ($navigation as $category) : ?>
                    <li><a href="<?= $category['slug']; ?>"><?= $category['title']; ?></a></li>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>
    </div>

    <div class="content theodongsukien">
        <div class="image-wrapper">
            <div class="image image-1-1">
                <img src='<?=  $imageHelper->generateThumbLink( $event['imageUrl'], 300,  300); ?>' alt="<?= $event['title'];?>">
            </div>
        </div>

        <ul class="related-links fs4 pull-left f-rsb text-white">

            <?php foreach ($posts as $key => $post): ?>

                <li class="full-width">
                    <a href='<?= $post['slug'] ?>'>
                        <?= $post['title'] ?> <?= $this->partial('partials/content-type'); ?>
                    </a>
                    <span>
                        <?= $key + 1 ?>
                    </span>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>