<?php if (isset($box['Type']) && $box['Type'] != 'BoxBlack'): ?>
    <div class="horizontal-line">
        <div class="small-line">
        </div>
    </div>
<?php endif; ?>
<div class="box-navigation vertical-items">
    <?php $navigation = $box['Navigation']; ?>
    <h3 class="title upcase fs6 f-rb">
        <?php if (!empty($box['Category'])) : ?>
            <a href="<?= $box['Category']['slug']; ?>"><?= $box['Category']['title']; ?></a>
        <?php elseif (!empty($box['Event'])) : ?>
            <a href="<?= $box['Event']['metaSlug']; ?>"><?= 'Theo Dòng sự kiện'; ?></a>
        <?php else: ?>
            <?= $box['Title']; ?>
        <?php endif; ?>
    </h3>
    <?php if (!empty($navigation)): ?>
        <ul class="ul-inline ul-vertical-line vertical-text-black">
            <?php foreach ($navigation as $category) : ?>
                <li><a href="<?= $category['slug']; ?>"><?= $category['title']; ?></a></li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
</div>
