<!-- Bắt đầu box tin tức - ảnh trái -->
<?php if (!empty($box['Posts'])) : ?>
    <?php
    $posts = $box['Posts'];
    $firstPost = array_shift($posts);
    ?>
    <div class="box-news box-news-image-left row">

        <a href="<?= $firstPost['slug']; ?>" class="image col-xs-6 image-wrapper">
            <div class="image image-medium">
                <img src='<?= $imageHelper->generateThumbLink($firstPost['imageUrl'], 400, 249);; ?>'
                     alt="<?= $firstPost['title']; ?>">
            </div>
        </a>
        <div class="content">
            <h3 class="title fs6 f-rsb">
                <a href="<?= $firstPost['slug']; ?>"><?= $firstPost['title']; ?> <?= $this->partial('partials/content-type', ['post' => $firstPost]); ?></a>
            </h3>
            <span class="snippet fs3 f-rr"><?= $firstPost['sapo']; ?></span>
            <ul class="related-links fs3 pull-left f-rsb">
                <?php foreach ($posts as $post): ?>
                    <li>
                        <h3>
                            <a href="<?= $post['slug']; ?> "><?= $post['title']; ?>   <?= $this->partial('partials/content-type'); ?>
                            </a>
                        </h3>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
<?php endif; ?>

<!-- Kết thúc box tin tức - ảnh trái -->