<div class="box-category">
    <?= $this->partial('partials/box-header'); ?>
    <?php if (!empty($box['Posts'])) : ?>
        <div class="news content">
            <div class="row ">
                <?php foreach ($box['Posts'] as $key => $post) : ?>
                    <?php if ($key < 2) : ?>
                        <div class="col-xs-6">
                            <div class="box-news full-width">
                                <a href="<?= $post['slug']; ?>" class="image image-wrapper">
                                    <div class="image image-medium">
                                        <img src='<?= $imageHelper->generateThumbLink($post['imageUrl'], 408, 254); ?>'
                                             alt="<?= $post['title']; ?>">
                                    </div>
                                </a>
                                <div class="content">
                                    <h3 class="title fs5 f-rsb">
                                        <a href="<?= $post['slug']; ?>">
                                            <?= $post['title']; ?>
                                            <?= $this->partial('partials/content-type'); ?>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <?php if ($key == 1) : ?>
                            <div class="clearfix"></div>
                        <?php endif; ?>
                    <?php else : ?>
                        <div class="col-xs-4 mgt10">
                            <div class="box-news full-width">
                                <a href="<?= $post['slug']; ?>" class="image image-wrapper">
                                    <div class="image image-medium">
                                        <img src='<?= $imageHelper->generateThumbLink($post['imageUrl'], 264, 165); ?>'
                                             alt="<?= $post['title']; ?>">
                                    </div>
                                </a>
                                <div class="content">
                                    <h3 class="title fs4 f-rsb">
                                        <a href="<?= $post['slug']; ?>">
                                            <?= $post['title']; ?>
                                            <?= $this->partial('partials/content-type'); ?>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        </div>
    <?php endif; ?>
</div>