<div class="box-category">
    <?= $this->partial('partials/box-header', ['box' => $box]); ?>

    <div class="news content">
        <?= $this->partial('partials/box-image-left', ['box' => $box]); ?>
    </div>

</div>