<div class="box-category sub-category upcase">
    <div class="box-navigation vertical-items">
        <ul id="breadcrumb" class="title ul-inline f-rsb">
            <?php if (!empty($subNavCategoryIds)) : ?>
                <?php foreach ($subNavCategoryIds as $index => $categoryId) : ?>
                    <?php if (!empty($allCategories[$categoryId])) : ?>
                        <li <?= ((isset($category['id']) && $category['id'] == $categoryId) || ((isset($primaryCategory) && $primaryCategory->id == $categoryId))) ? 'class="active"' : ''; ?>>
                            <a href="<?= $allCategories[$categoryId]->slug; ?>">
                                <?= $allCategories[$categoryId]->title; ?>
                            </a>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
    </div>
    <div class="horizontal-line"></div>
</div>