<?php if ($post['contentType'] == 'video') : ?>
    <span class="type video"> </span>
<?php elseif ($post['contentType'] == 'live') : ?>
    <span class="badge live">trực tiếp</span>
<?php elseif ($post['contentType'] == 'photo') : ?>
    <span class="type image"></span>
<?php endif; ?>
<?php if (!empty($post['allowComment']) && !empty($post['commentCount']) && $post['allowComment'] == 1 && $post['commentCount'] > 0) : ?>
    <span class="type comment">
        <?= $post['commentCount']; ?>
    </span>
<?php endif; ?>