<!-- Bắt đầu của footer -->

<footer class="text-white  fs2 f-rsr">
    <div class="footer-top">
        <div class="container ">
            <div class="row-outer">
                <div class="row-inner header-group vertical-items">
                    <a href="/" class="ndt-logo pull-left">
                    </a>
                    <ul class="ul-inline ul-vertical-line hide-line center-vertical group-links border-radius-sm fs2 f-rsr upcase">
                        <?= $this->partial('partials/menu-list', ['children' => $menus['Footer_Menu_Unity']]); ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--    <% with $Footer %>-->
    <?php $footerConfig = $configurations['Footer']; ?>
    <div class="footer-body ">
        <div class="container">
            <div class="row-outer">
                <div class="row-inner group line-break">
                    <div class="ndt-info pull-left text-white">
                        <span><?= $footerConfig['TenTrang']; ?> - <a
                                    href="<?= $footerConfig['UrlTrang']; ?>"><?= $footerConfig['UrlTrang']; ?></a></span>
                        <span><?= $footerConfig['GiayPhep']; ?></span>
                        <span><?= $footerConfig['TongBienTap']; ?></span>
                        <span><?= $footerConfig['DanNguon']; ?></span>
                    </div>
                    <div class="ndt-contact-ads pull-left text-white">
                        <span><?= $footerConfig['TieuDeBaoGiaQC']; ?></span>
                        <span><?= $footerConfig['QuangCao1']; ?></span>
                        <span><?= $footerConfig['QuangCao2']; ?></span>
                        <span><?= $footerConfig['QuangCao3']; ?></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row-outer">
                <div class="row-inner group">
                    <div class="ndt-info pull-left">
                        <div class="address icon">
                            <span><?= $footerConfig['TruSo']; ?></span>
                        </div>
                        <div class="phone-contact icon text-white">
                            <?php if (!empty($footerConfig['SoDienThoai1'])) : ?>
                                <span>
                                    <a href="tel:<?= filter_var($footerConfig['SoDienThoai1'], FILTER_SANITIZE_NUMBER_INT); ?>"><?= $footerConfig['SoDienThoai1']; ?></a>
                                </span>
                            <?php endif; ?>
                            <?php if (!empty($footerConfig['SoDienThoai2'])) : ?>
                                |
                                <span>
                                    <a href="tel:<?= filter_var($footerConfig['SoDienThoai2'], FILTER_SANITIZE_NUMBER_INT); ?>"><?= $footerConfig['SoDienThoai2']; ?></a>
                                </span>
                            <?php endif; ?>
                        </div>
                        <div class="email-contact icon text-white">
                            <span><a href="mailto:<?= $footerConfig['Email']; ?>"
                                     target="_top"><?= $footerConfig['Email']; ?></a></span>
                        </div>
                    </div>
                    <div class="ndt-info pull-right text-right">
                        <span>Quản lý và xuất bản bởi</span>
                        <span>Báo<b> Đời sống & Pháp luật</b></span>

                        <img src="<?= $config->application->assetsUrl ?>/images/dspl.svg" width="120px" alt="Bao doi song phap luat">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
<!--    <% end_with %>-->


</footer>
<!-- Kết thúc của footer -->
