<!-- Bắt đầu của header -->
<header class="ndt-header">
    <div class="container">
        <div class="row-outer">
            <div class="row-inner header-group vertical-items">
                <a href="/" class="ndt-logo pull-left">
                </a>
                <form class="search-box pull-left" id="formTimKiem" action="/search">
                    <input type="text" name="q" class="search-input" placeholder="Tìm kiếm..." <?= !empty($searchQuery) ? ' value="' . $searchQuery  . '"': ''; ?> >
                    <div type="button" class="search-button"></div>
                </form>
                <ul class="ul-inline ul-buttons f-rsb upcase fs2 center-vertical">
                    <?php if (!empty($homeData)) : ?>
                        <?= $this->partial('partials/menu-list', ['children' => $menus['Daily_News']]); ?>
                    <?php endif; ?>
                </ul>
                <ul class="ul-inline ul-vertical-line center-vertical group-links border-radius-sm fs1 f-rl upcase">
                    <!--                    <% include ulli children=$genMenu('Header_Menu') %>-->
                    <?= $this->partial('partials/menu-list', ['children' => $menus['Header_Menu']]); ?>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Kết thúc của header -->