<div class="box-news box-news-flex">
    <div class="image image-wrapper">
        <a href="<?= $post['slug']; ?>" class="image image-small-mobile">
            <img src="<?= $imageHelper->generateThumbLink($post['imageUrl'], 125, 94); ?>" alt="<?= $post['title']; ?>">
        </a>
    </div>
    <div class="content">
        <div class="content-to-center">
            <h3 class="title f-rsb fs4">
                <a href="<?= $post['slug']; ?>">
                    <?= $post['title']; ?>
                    <?php $this->partial('partials/content-type'); ?>
                </a>
            </h3>
            <?php if (!empty($showTags) || !empty($showEvent)) : ?>
                <div class="event-or-tag f-rsr">
                    <% loop $Tags %>
                    <% if $AnchorTextActive %>
                    <% if $Top.ShowTags == $Link %>
                    <a href="$Link">$AnchorText</a>

                    <% end_if %>

                    <% end_if %>
                    <% end_loop %>
                </div>
            <?php endif; ?>

        </div>
    </div>
</div>