<div class="box-news box-on-slider">
    <a href="<?= $post['slug']; ?>" class="image image-wrapper">
        <div class="image image-large-mobile">
            <img src='<?= $imageHelper->generateThumbLink($post['imageUrl'], 414, 269); ?>' alt="<?= $post['title']; ?>"
                 class="full-width">
        </div>
    </a>
    <div class="content txt-white">
        <h2 class="title fs6">
            <a href="<?= $post['slug']; ?>">
                <?= $post['title']; ?>
                <?php $this->partial('partials/content-type'); ?>
            </a>
        </h2>
    </div>
</div>