<div class="box-news image-top full-width">
    <div class="image image-wrapper">
        <a href="<?= $post['slug']; ?>" class="image image-large-mobile">
            <img src='<?= $large ? $imageHelper->generateThumbLink($post['imageUrl'], 384, 249) : $imageHelper->generateThumbLink($post['imageUrl'], 183, 119); ?>'
                 alt="<?= $post['title']; ?>"
                 class="full-width">
        </a>
    </div>
    <div class="content fs4">
        <h3 class="title f-rsb">
            <a href="<?= $post['slug']; ?>">
                <?= $post['title']; ?>
                <?php $this->partial('partials/content-type'); ?>
                <?php if ($showTime) : ?>
                    <div class="datetime"><p> $PublishTime.Ago </p></div>
                <?php endif; ?>
            </a>
        </h3>
    </div>
</div>