<?php if (!empty($box['Posts'])) : ?>
<div class="box-category box02">
    <?php $this->partial('partials/m.box-header'); ?>
    <div class="contents f-rsb pull-left">
        <?php foreach ($box['Posts'] as $index => $post) : ?>
            <?php if ($index >= 5) {
                break;
            }; ?>
            <?php $this->partial('partials/m.article-normal'); ?>
        <?php endforeach; ?>
    </div>
    <div class="clearfix"></div>
</div>
<?php endif; ?>
