<?php if (!empty($box['Posts'])) : ?>
    <div class="box-category box02">
        <?php $this->partial('partials/m.box-header'); ?>
        <div class="contents f-rsb">
            <div class="row">
                <?php
                $posts = $box['Posts'];
                $firstPost = array_shift($posts);
                ?>
                <div class="col-xs-12">
                    <?php $this->partial('partials/m.article-image-top', ['post' => $firstPost, 'large' => true]); ?>

                </div>
                <?php foreach ($posts as $index => $post) : ?>
                    <?php if ($index >= 4) {
                        break;
                    }; ?>
                    <div class="col-xs-6">
                        <?php $this->partial('partials/m.article-image-top', ['large' => false]); ?>
                    </div>
                    <?php if ($index % 2 != 0) : ?>
                        <div class="clearfix"></div>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
<?php endif; ?>
