<?php if (!empty($box['Posts'])) : ?>


    <div class="box-category box02">
        <?php $this->partial('partials/m.box-header'); ?>
        <div class="contents f-rsb pull-left">
            <?php
            $posts = $box['Posts'];
            $firstPost = array_shift($posts);
            ?>
            <div class="row">
                <div class="col-xs-12">
                    <?php $this->partial('partials/m.article-image-top', ['post' => $firstPost]); ?>
                </div>
            </div>
            <?php foreach ($posts as $index => $post) : ?>
                <?php if ($index >= 5) {
                    break;
                }; ?>
                <?php $this->partial('partials/m.article-normal'); ?>
            <?php endforeach; ?>
        </div>
        <div class="clearfix"></div>

    </div>
<?php endif; ?>
