<?php if (!empty($adsMobiles)) : ?>
    <?php
    $ad = array_shift($adsMobiles);
    ?>
    <div class="qcmobile clearfix">
        <div class="content">
            <div class="box-related full-width">
                <?= $ad; ?>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
<?php endif; ?>