<div class="box-navigation vertical-items text-center fs2 f-rb ">
    <?php $navigation = $box['Navigation']; ?>

    <h2 class="title upcase fs2 f-rb">
        <?php if (!empty($box['Category'])) : ?>
            <a href="<?= $box['Category']['slug']; ?>"><?= $box['Category']['title']; ?></a>
        <?php elseif (!empty($box['Event'])) : ?>
            <a href="<?= $box['Event']['metaSlug']; ?>"><?= 'Theo Dòng sự kiện'; ?></a>
        <?php else: ?>
            <?= $box['Title']; ?>
        <?php endif; ?>
    </h2>
    <?php if (!empty($navigation)): ?>
        <ul class="ul-inline ul-vertical-line vertical-text-black">
            <?php foreach ($navigation as $index => $category) : ?>
                <?php if ($index >= 3) {
                    break;
                }; ?>
                <li>
                    <a href="<?= $category['slug']; ?>"><?= $category['title']; ?></a>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>

</div>
<?php if (isset($box['Type']) && $box['Type'] != 'BoxBlack') : ?>
    <div class="horizontal-line">
        <div class="small-line">
        </div>
    </div>
<?php endif; ?>
