<!-- Bắt đầu của navigation -->
<nav class="navigation category">
    <div class="row-outer dropdown clearfix vertical-items">
        <?php
        $subCategoryIds = $subNavCategoryIds;
        $primaryCategoryId = array_shift($subCategoryIds);
        ?>
        <h1 class="title fs2 upcase">
            <a href="<?= $category['slug']; ?>"><?= $category['title']; ?></a>
        </h1>
        <?php if (!empty($subCategoryIds))  : ?>

            <input class="btn dropdown-btn dropdown-toggle" type="button" data-toggle="dropdown">
            <ul class="dropdown-menu dropdown-menu-right menu-list upcase fs2">
                <?php foreach ($subCategoryIds as $id => $categoryId) : ?>
                    <?php if (isset($allCategories[$categoryId])) : ?>
                        <li>
                            <h2>
                                <a href="<?= $allCategories[$categoryId]->slug; ?>">
                                    <?= $allCategories[$categoryId]->title; ?>
                                </a>
                            </h2>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>

    </div>
</nav>
<!-- Kết thúc của navigation -->