<!-- Bắt đầu của footer -->
<footer class="fs1 f-rsr footer">
    <?= !empty($amp) ? '<div class="container">' : '<div class="row-outer">'; ?>
    <div class="footer-top">
        <div class="row-outer">
            <div class="vertical-items">
                <a href="/" class="ndt-logo">
                    <?php if (empty($amp)) : ?>
                        <img class="" src="<?= $config->application->assetsUrl ?>/images/mobile/logo.png">
                    <?php endif; ?>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-body">
        <div class="ndt-info text-center">
            <?php $footerConfig = $configurations['Footer']; ?>
            <p><?= $footerConfig['TenTrang']; ?>- <a
                        href="<?= $footerConfig['UrlTrang']; ?>"><?= $footerConfig['UrlTrang']; ?></a>
            </p>
            <p><?= $footerConfig['GiayPhep']; ?></p>
            <p><?= $footerConfig['TongBienTap']; ?></p>
            <p><?= $footerConfig['DanNguon']; ?></p>
        </div>
        <div class="ndt-info ">
            <div class="address icon">
                <p><?= $footerConfig['TruSo']; ?></p>
            </div>
            <div class="phone-contact icon">
                <p>
                    <?php if (!empty($footerConfig['SoDienThoai1'])) : ?>
                        <a href="tel:<?= filter_var($footerConfig['SoDienThoai1'], FILTER_SANITIZE_NUMBER_INT); ?>"><?= $footerConfig['SoDienThoai1']; ?></a>
                    <?php endif; ?>
                    <?php if (!empty($footerConfig['SoDienThoai2'])) : ?>
                        |
                        <a href="tel:<?= filter_var($footerConfig['SoDienThoai2'], FILTER_SANITIZE_NUMBER_INT); ?>"><?= $footerConfig['SoDienThoai2']; ?></a>
                    <?php endif; ?>
                </p>
            </div>
            <div class="email-contact icon">
                <p><a href="mailto:<?= $footerConfig['Email']; ?>"
                      target="_top"><?= $footerConfig['Email']; ?></a></p>
            </div>
        </div>
        <div class="ndt-info ndt-contact-ads text-center">
            <p class="f-rsb upcase"><?= $footerConfig['TieuDeBaoGiaQC']; ?></p>
            <p><?= $footerConfig['QuangCao1']; ?></p>
            <p><?= $footerConfig['QuangCao2']; ?></p>
            <p><?= $footerConfig['QuangCao3']; ?></p>
        </div>
    </div>
    <?= '</div>'; ?>

</footer>
<!-- Kết thúc của footer -->