<!-- Bắt đầu của header -->
<header class="ndt-header">
    <div class="">
        <div class="row-outer">
            <div class="header-group vertical-items">
                <a href="/" class="ndt-logo pull-left">
                    <img class="" src="<?= $config->application->assetsUrl ?>/images/mobile/logo.png">
                </a>
                <form class="search-box pull-left" id="formTimKiem" ishide="true" action="/search">
                    <input type="text" name="q" class="search-input"
                           placeholder="Tìm kiếm..." <?= $searchQuery ? 'value="' . $searchQuery . '"' : ''; ?> >
                    <div type="button" class="search-button"></div>
                </form>

            </div>
        </div>
    </div>
</header>
<!-- Kết thúc của header -->