<!-- Bắt đầu của navigation -->
<nav class="menu-footer navigation">
    <div class="row-outer">
        <ul class="ul-inline f-rsr fs3 vertical-items">
            <!--            <% include ulli children=$genMenu('Footer_Menu_Unity') %>-->
            <?= $this->partial('partials/menu-list',['children'=>$menus['Footer_Menu_Unity']]);?>
            <li>
                <a data-toggle="collapse" href="#menu">
                    <img src="<?= $config->application->assetsUrl ?>/images/mobile/menumore.png">
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="menu-side-wrapper collapse" id="menu">
    <input type="button" class="div-close" data-toggle="collapse" href="#menu" data-target="#menu">
    <ul class="f-rsb fs4 upcase center-vertical sidenav menu-list">
        <!--        <% include ulli children=$genMenu('Navigation_Menu') %>-->
        <?= $this->partial('partials/menu-list',['children'=>$menus['Navigation_Menu']]);?>
    </ul>
</div>
<!-- Kết thúc của navigation -->