<!-- Bắt đầu của navigation -->
<nav class="navigation">
    <div class="row-outer">
        <ul class="ul-inline f-rsb fs2 vertical-items upcase">
            <?php if (!empty($homeData)) : ?>
                <?= $this->partial('partials/menu-list', ['children' => $menus['Daily_News']]); ?>
            <?php endif; ?>
            <li><a href="#menu" data-toggle="collapse" class="menu-button"></a></li>
        </ul>
    </div>
</nav>

<!-- Kết thúc của navigation -->