<?php if (!empty($children)) : ?>
    <?php foreach ($children as $child) : ?>
        <li>
            <a href="<?= $child['url'] ?>" <?= (!empty($child['noFollow']) && $child['noFollow'])  ? 'rel="nofollow"' : ''; ?> <?= (!empty($child['openNewTab']) && $child['openNewTab']) ? 'target="_blank"' : ''; ?>>
                <?= (!empty($child['heading']) && $child['heading'] != 'a') ? '<' . $child['heading'] . '>' : '' ?>
                <?= $child['title'] ?>
                <?= (!empty($child['heading']) && $child['heading'] != 'a') ? '</' . $child['heading'] . '>' : '' ?>
            </a>
            <?php if (!empty($child['children'])) : ?>
                <ul>
                    <?php echo $this->partial('partials/menu-list', ['children' => $child['children']]); ?>
                </ul>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
<?php endif; ?>