<!-- Bắt đầu của navigation -->
<nav class="navigation">
    <div class="container">
        <div class="row-outer">
            <div class="row-inner ">
                <ul class="ul-inline f-rsb fs3 vertical-items upcase" id="main-top-nav">
                    <li><a href="/"><img src="<?= $config->application->assetsUrl ?>/images/icon-home.png"></a></li>
                    <?= $this->partial('partials/menu-list', ['children' => $menus['Navigation_Menu']]); ?>
                    <li><a data-toggle="collapse" data-target="#menu"><img src="<?= $config->application->assetsUrl ?>/images/more.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<nav class="container">
    <div class="row-inner">
        <div class="wrapper">
            <div class="collapse" id="menu">
                <ul class="menus flex-container">
                    <?= $this->partial('partials/menu-list', ['children' => $menus['Navigation_Menu_explained_All_Categorys']]); ?>
                </ul>
                <ul class="ul-inline larger-buttons f-rsb upcase center-vertical">
                    <?= $this->partial('partials/menu-list', ['children' => $menus['Daily_News']]); ?>
                </ul>
                <ul class="ul-inline unity pull-left ul-vertical-line center-vertical f-rsr upcase">
                    <?= $this->partial('partials/menu-list', ['children' => $menus['Navigation_Menu_explained_Unity']]); ?>
                </ul>
            </div>
        </div>

    </div>
</nav>
<!-- Kết thúc của navigation -->
