<!-- Bắt đầu của menu footer -->
<nav class="container hide show-on-ready">
    <div class="row-inner">
        <ul class="menus flex-container">
            <?php $this->partial('partials/menu-list', ['children' => $menus['MenuFooter_All_Categorys']]); ?>
        </ul>
    </div>
</nav>
<!-- Kết thúc của menu footer -->