<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta itemprop="keywords" name="keywords" content="<?= htmlspecialchars($metaTags['MetaKeyword']) ?>"/>
<meta itemprop="description" name="description" content="<?= htmlspecialchars($metaTags['MetaDescription']) ?>"/>
<link rel="canonical" href="<?= htmlspecialchars($metaTags['MetaSlug']) ?>"/>
<meta property="og:locale" content="vi_VN"/>
<meta property="og:title" itemprop="name" content="<?= htmlspecialchars($metaTags['MetaTitle']) ?>"/>
<meta property="og:description" content="<?= htmlspecialchars($metaTags['MetaDescription']) ?>"/>
<meta property="og:url" itemprop="url" content="<?= htmlspecialchars($metaTags['MetaSlug']) ?>"/>
<?php if (!empty($metaTags['Image'])) : ?>
<meta property="og:image" itemprop="thumbnailUrl" content="<?= htmlspecialchars($metaTags['Image']) ?>"/>
<?php endif; ?>
<?php if (!empty($metaTags['PublishTime'])) : ?>
<meta name="pubdate" itemprop="datePublished" content="<?= htmlspecialchars($metaTags['PublishTime']) ?>"/>
<?php endif; ?>
<?php if (!empty($metaTags['LastEdited'])) : ?>
<meta itemprop="dateModified" content="<?= $metaTags['LastEdited'] ?>"/>
<?php endif; ?>
<meta name="robots" content="index,follow,noodp"/>
<meta name="robots" content="noarchive">
<meta http-equiv="content-language" content="vi"/>
<meta name="language" content="vietnamese"/>
<meta name="format-detection" content="telephone=no">
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1">
<meta name="copyright" content="Copyright © <?= date('Y') ?> by NguoiDuaTin.vn"/>
