<script type="application/ld+json">
	{
		"@context" : "http://schema.org",
		"@type" : "Organization",
		"name" : "Người Đưa Tin",
		"url" : "<?= $metaTags['MetaSlug'] ?>",
		"logo": "<?= $config->defaults->logo ?>"

	}
</script>


<?php if ($metaTags['PageType'] == 'Article') : ?>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "NewsArticle",
		"mainEntityOfPage": "<?= $metaTags['MetaSlug'] ?>",
		"headline": "<?= json_encode($metaTags['MetaTitle']) ?>",
		"datePublished": "<?= $metaTags['PublishTime'] ?>",
		"dateModified": "<?= $metaTags['LastEdited'] ?>",
		"description": "<?= json_encode($metaTags['MetaDescription']) ?>",

		"author": {
			"@type": "Person",
			<?php if ($article['showJournalist'] && !empty($journalist)) : ?>
            <?php if ($journalist['penName']) : ?>
            "name": "<?= json_encode($journalist['penName']) ?>"
            <?php else : ?>
            "name": "<?= json_encode($journalist['firstName']) ?>"
            <?php endif; ?>
			<?php else : ?>
            "name": "Người Đưa Tin"
			<?php endif; ?>
		},
		"publisher": {
			"@type": "Organization",
			"name": "Người Đưa Tin",
			"logo": {
				"@type": "ImageObject",
				"url": "<?= $config->defaults->logo ?>",
				"width": 206

			}
		},
		"image": {
			"@type": "ImageObject",
			"url": "<?= $imageHelper->generateThumbLink($article['imageUrl'], 1280, 857) ?>",
			"height": 1280,
			"width": 857
		}
	}
</script>
<?php endif; ?>

<!--<% if $MetaTags.PageType =="Category" || $MetaTags.PageType =="Article" %>-->

<?php if (!empty($metaTags['BreadcrumbList'])) : ?>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement":
		[
		<?php
        $totalItems = count($metaTags['BreadcrumbList']);
		foreach ($metaTags['BreadcrumbList'] as $idx => $item) : ?>
		{
			"@type": "ListItem",
			"position": <?= ($idx + 1) ?>,
			"item":
			{
				"@id": "<?= $item['metaSlug'] ?>",
				"name": "<?= json_encode($item['title']) ?>"
			}
		}<?= ($idx < ($totalItems - 1)) ? ','.PHP_EOL : ''; ?>
		<?php endforeach; ?>
		]
	}
</script>
<?php endif; ?>