<div class="box-3-1">
    <div class="contents box-article">
        <div class="box-category">
            <div class="horizontal-line">
                <div class="small-line"></div>
            </div>
            <div class="box-navigation vertical-items">
                <h1 class="title upcase fs6 f-rb">
                    <?= $tag['title'] ?> - Tin Tức về <?= $tag['title'] ?> mới nhất - Trang <?= $page ?>
                </h1>
            </div>
            <h2 class="fs5 f-rs"><?= $tag['description'] ?: $metaTags['MetaDescription'] ?></h2>
            <p class="marginmbot20"></p>
            <div class="box-related search-result clearfix">
                <?php if (!empty($articles)) : ?>
                    <?php foreach ($articles as $article) : ?>
                        <?php $this->partial('partials/article-image-left', ['post' => $article]) ?>
                    <?php endforeach; ?>

                <?php else : ?>
                    <div class="full-width paddingbot30"></div>
                <?php endif; ?>
            </div>

            <?php if (!empty($pageLinks)) : ?>
                <?= $pageLinks ?>
            <?php endif; ?>
            <div class="clearfix"></div>
        </div>
        <% include Middle_Ads %>
    </div>
    <% include  static_side_bar %>
</div>

