<style>
    .box-article a {
        color: #8d0003;
    }
</style>
<h2>Bài viết</h2>
<div class="contents box-article">
    <?= $article['content']; ?>
</div>

<?php if (!empty($dongSuKien)) : ?>
    <h2>Dòng sự kiện</h2>
    <?php var_dump($dongSuKien); ?>
<?php endif; ?>

<?php if (!empty($theoDongSuKien)) : ?>
    <h2>Theo dòng sự kiện</h2>
    <?php var_dump($theoDongSuKien); ?>
<?php endif; ?>

<h2>Meta Tags</h2>
<?php var_dump($metaTags); ?>