<div class="full-width detail-header clearfix">
    <button id="zoom-image" class="zoom-image"><img src="$ThemeDir/images/phongto.png" alt="">
    </button>
    <div class="box-category full-width swiper-container h1items" id="article-photos">
        <div class="swiper-wrapper">
            <?php foreach ($photos as $photo) : ?>
                <div class="swiper-slide">
                    <div class="box-news">
                        <div class="image image-center img-medium-news bg-detail fs4 f-rsr text-center">
                            <img src="<?= $photo[''] ?>">
                            <img src="$Image.Link" alt="$Top.Article.Title <% if $Top.Article.Photos.Count > 1 %>- Hình $Pos<% end_if %>">
                            <p>$Description</p>
                        </div>

                    </div>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="swiper-btn next mg200"></div>
        <div class="swiper-btn prev mg200"></div>
        <div class="box-navigation vertical-items">

            <div class="swiper-pagination" style="margin-left: auto;margin-right: auto"></div>
        </div>
    </div>
</div>
<div id="photosSliderModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div id="slidercontent" class="modal-body" style="position: relative;">
                <div class="box-category full-width swiper-container" id="article-photos">
                    <div class="swiper-wrapper">
                        <% loop $Article.Photos %>
                        <div class="swiper-slide">
                            <div class="box-news">
                                <div class="image image-center img-medium-news bg-detail fs4 f-rsr text-center">
                                    <img src="$Image.Link">
                                    <p>$Description</p>
                                </div>

                            </div>
                        </div>
                        <% end_loop %>



                    </div>
                    <div class="swiper-btn next mg200"></div>
                    <div class="swiper-btn prev mg200"></div>
                    <div class="box-navigation vertical-items">

                        <div class="swiper-pagination" style="margin-left: auto;margin-right: auto"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>