<div class="pull-left col-xs-12 col-md-6">
    <?php if (!empty($posts)): ?>
        <ul class="related-links fs3 pull-left f-rsb">
            <?php foreach ($posts as $post): ?>
                <li>
                    <h3>
                        <a href="<?= $post['slug'];?>"><?= $post['title'];?> <?= $this->partial('partials/content-type'); ?></a>
                    </h3>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
    <div class="visible-xs col-xs-12 visible-sm box-margin-bottom pull-left"></div>
</div>