<!-- Bắt đầu box Tin đọc nhiều -->
<?php if (!empty($posts)): ?>
    <div class="box-most-visited">
        <ul class="related-links fs3 pull-left f-rsb">
            <?php foreach ($posts as $index => $post): ?>
                <?php if ($index == 9) : ?>
                    <?php
                    break;
                    ?>
                <?php endif; ?>
                <li>
                    <h3>
                        <a href="<?= $post['slug']; ?>"><?= $post['title']; ?> <?= $this->partial('partials/content-type'); ?></a>
                    </h3>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>
<!-- Kết thúc box Tin đọc nhiều -->