<?php
$postsData = $posts;
$firstPost = array_shift($postsData);
?>
<div class="box-news">
    <a href="<?= $firstPost['slug']; ?>" class="image image-wrapper">
        <div class="image image-medium">
            <img src='<?= $imageHelper->generateThumbLink($firstPost['imageUrl'], 371, 231) ?>'
                 alt="<?= $firstPost['title']; ?>">
        </div>
    </a>
    <div class="content">
        <h3 class="title fs5 f-rsb"><a
                    href="<?= $firstPost['slug']; ?>"><?= $firstPost['title']; ?>  <?= $this->partial('partials/content-type', ['post' => $firstPost]); ?></a>
        </h3>
    </div>
</div>
<ul class="related-links fs2 pull-left f-rsb">
    <?php foreach ($postsData as $post): ?>
        <li>
            <h3>
                <a href="<?= $post['slug']; ?>"><?= $post['title']; ?><?= $this->partial('partials/content-type'); ?></a>
            </h3>
        </li>
    <?php endforeach; ?>
</ul>