<div class="box-news full-width on-box-black">
    <div  class="image image-wrapper">
        <a href="<?= $post['slug'] ; ?>" class="image image-medium-mobile">
            <img src='<?= $large ?  $imageHelper->generateThumbLink($post['imageUrl'], 390, 253): $imageHelper->generateThumbLink($post['imageUrl'], 186, 120); ?>' alt="<?= $post['title'] ; ?>" class="full-width">
        </a>
    </div>

    <div class="content f-rsb">
        <h3 class="title fs4">
            <a href="$Link">
                <?php $this->partial('partials/content-type'); ?>
                <?= $post['title'] ; ?>
            </a>
        </h3>
    </div>

</div>