<div class="box-category box02">
    <?php foreach ($rowData['Box'] as $index => $box) : ?>
        <?php if (!empty($box['Posts'])) : ?>
            <?php $this->partial('partials/m.box-header'); ?>

            <div class="contents f-rsb pull-left">
                <?php foreach ($box['Posts'] as $postIndex => $post) : ?>
                    <?php if ($postIndex >= 5) {
                        break;
                    }; ?>
                    <?php $this->partial('partials/m.article-normal'); ?>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
    <div class="clearfix"></div>
</div>