<div class="box-black box-category">
    <?php foreach ($rowData['Box'] as $index => $box) : ?>
        <?php if (!empty($box['Posts'])) : ?>
            <?php $this->partial('partials/m.box-header'); ?>
            <div class="news row content fs3 f-rsb">
                <?php
                $posts = $box['Posts'];
                $firstPost = array_shift($post);
                ?>
                <div class="col-xs-12">
                    <?php $this->partial('index/blocks/m.news-single-media', ['large' => true]); ?>
                </div>
                <?php foreach ($posts as $index => $post) : ?>
                    <?php if ($index >= 4) : ?>
                        <div class="clearfix"></div>
                        <?php
                        break;
                        ?>
                    <?php endif; ?>
                    <div class="col-xs-6">
                        <?php $this->partial('index/blocks/m.news-single-media', ['large' => false]); ?>
                    </div>
                    <?php if ($index % 2 != 0) : ?>
                        <div class="clearfix"></div>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
</div>