<div class="box-category box02">
    <?php foreach ($rowData['Box'] as $index => $box) : ?>
        <?php if ($box['Type'] == 'Boxnews') : ?>
            <?php $this->partial('partials/m.box-header'); ?>
            <div class="contents f-rsb pull-left">
                <?php
                $post = array_shift($box['Posts']);
                $this->partial('index/blocks/m.news-testimonial');
                ?>
            </div>
            <div class="clearfix"></div>
        <?php endif; ?>
    <?php endforeach; ?>
</div>
