<!-- Bắt đầu box tiêu điểm -->
<?php if (!empty($rowData['Box'])) : ?>
    <?php foreach ($rowData['Box'] as $index => $box) : ?>
        <?php if ($box['Type'] == 'Main') : ?>
            <?php if (!empty($box['Posts'])) : ?>

                <div class="contents box-article paper">
                    <div class=" swiper-container-mobile h1items">
                        <div class="swiper-wrapper">
                            <?php foreach ($box['Posts'] as $postIndex => $post) : ?>
                                <div class="swiper-slide">
                                    <?php $this->partial('partials/m.article-onslide'); ?>
                                    
                                </div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                </div>
                <?php $this->partial('partials/m.box-ad'); ?>
            <?php endif; ?>
        <?php elseif ($box['Type'] == 'Side') : ?>
            <div class="box-category box-tieudiem">

                <ul class="box-navigation vertical-items text-center upcase fs2 f-rb">
                    <?php if (!empty($box['Posts'])) : ?>
                        <li class="title active">
                            <a data-toggle="tab" href="#tieudiem">Tin mới</a>
                        </li>
                    <?php endif; ?>

                    <?php if (!empty($boxEvent['Posts'])) : ?>
                        <li class="title">
                            <a data-toggle="tab" href="#theodongsukien">Theo dòng sự kiện</a>
                        </li>
                    <?php endif; ?>

                    <?php if (!empty($boxMostRead['Posts'])) : ?>
                        <li class="title">
                            <a data-toggle="tab" href="#tindocnhieu">Tin đọc nhiều</a>
                        </li>
                    <?php endif; ?>
                </ul>
                <div class="horizontal-line">
                </div>
                <div class="tab-content">
                    <?php if (!empty($box['Posts'])) : ?>
                        <div id="tieudiem" class="tab-pane in active">
                            <div class="contents f-rsb">
                                <?php foreach ($box['Posts'] as $post) : ?>
                                    <?php $this->partial('partials/m.article-normal'); ?>
                                <?php endforeach; ?>

                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if (!empty($boxEvent['Posts'])) : ?>
                        <div id="theodongsukien" class="tab-pane">
                            <div class="contents f-rsb">
                                <?php foreach ($boxEvent['Posts'] as $index => $post) : ?>
                                    <?php $this->partial('partials/m.article-normal'); ?>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if (!empty($boxMostRead['Posts'])) : ?>
                        <div id="tindocnhieu" class="tab-pane">
                            <div class="contents f-rsb">
                                <?php foreach ($boxMostRead['Posts'] as $index => $post) : ?>
                                    <?php $this->partial('partials/m.article-normal'); ?>

                                <?php endforeach; ?>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="clearfix"></div>
            </div>
            <?php $this->partial('partials/m.box-ad'); ?>
        <?php endif; ?>

    <?php endforeach; ?>
<?php endif; ?>
<!-- Kết thúc box tiêu điểm -->

