<div class="pull-left tieudiem main">
    <?php if (!empty($posts)): ?>
        <?php $firstPost = array_shift($posts); ?>

        <div class="box-news box-news-larger">
            <a href="<?= $firstPost['slug']; ?>" class="image image-wrapper">
                <div class="image image-wide-large">
                    <img src='<?= $imageHelper->generateThumbLink($firstPost['imageUrl'], 580,  302); ?>'
                         alt="<?= $firstPost['title']; ?>">
                </div>
            </a>
            <div class="content">
                <h2 class="title f-rsb fs6"><a href="<?= $firstPost['slug']; ?>"><?= $firstPost['title']; ?> </a></h2>
                <span class="snippet fs3 f-rr"><?= $firstPost['sapo']; ?></span>
            </div>
        </div>
        <ul class="related-links f-rsb fs3">
            <?php foreach ($posts as $post): ; ?>
                <li>
                    <h2>
                        <a href="<?= $post['slug']; ?>"><?= $post['title']; ?></a>
                    </h2>
                </li>
            <?php endforeach; ?>
        </ul>

    <?php else: ?>
        <div class="full-width paddingbot30">

        </div>

    <?php endif; ?>
</div>
