<div class="box-testimonial full-width">

    <div style="background-image: url(<?= $post['showJournalist'] == 0 ? $config->application->assetsUrl . '/images/author-default.png' : $imageHelper->generateThumbLink($post['journalist']['avatarUrl'], 120, 120); ?>)"
         width="120" height="120" class="author img img-circle"></div>

    <div class="arrow_box content">
        <h3 class="title f-rsb fs5">
            <a href="<?= $post['slug']; ?>" class="text-line-limit two-lines">
                <?= $post['title']; ?>
                <?= $this->partial('partials/content-type'); ?>
            </a>
        </h3>
        <?php if ($post['showJournalist'] != 0 && !empty($post['journalist']['name'])) : ?>

            <p class="author-name fs2 f-rb">
                <?= $post['journalist']['name']; ?>
            </p>
        <?php else: ?>

            <span> 	&nbsp;</span>
        <?php endif; ?>

        <p class="description text-line-limit three-lines"><?= $post['sapo']; ?></p>
    </div>
</div>