
<!-- Bắt đầu box Media -->
<div class="box-news">
    <a href="<?= $post['slug'];?>" class="image image-wrapper">
        <div class="image image-small">
            <img src='<?= $imageHelper->generateThumbLink($post['imageUrl'], 210, 130); ?>' alt="<?= $post['title'];?>">
        </div>
    </a>
    <h3 class="title fs2 text-center f-rsb"><a href="<?= $post['slug'];?>"><?= $post['title'];?> <?= $this->partial('partials/content-type'); ?></a></h3>
</div>
<!-- Kết thúc box Media -->