<!-- Bắt đầu box 2 tin tức -->
<div class="news row content">
    <?php foreach ($rowData['Box'] as $box): ?>

        <?php if ($box['Type'] == "Boxnews") : ?>
            <div class="pull-left col-xs-8">
                <div class="box-category">
                    <?= $this->partial('partials/box-header', ['box' => $box]); ?>
                    <?php
                    $firstPost = array_shift($box['Posts']);
                    $postRow = [];
                    $row1 = [];
                    $row2 = [];
                    foreach ($box['Posts'] as $index => $post) {
                        if ($index % 2 == 0) {
                            $row1[] = $post;
                        } elseif ($index % 2 == 1) {
                            $row2[] = $post;
                        }
                    }
                    $postRow[] = [
                        'Posts' => $row1
                    ];
                    $postRow[] = [
                        'Posts' => $row2
                    ];
                    ?>
                    <div class="news row content">
                        <div class="pull-left col-xs-12">
                            <?= $this->partial('index/blocks/news-testimonial', ['post' => $firstPost]); ?>
                        </div>
                        <?php foreach ($postRow as $postCol): ?>
                            <?php $this->partial('index/blocks/box-news-testimonial', ['posts' => $postCol['Posts']]); ?>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
        <?php endif; ?>
        <?php if ($box['Type'] == "Tindocnhieu") : ?>
            <?php if (!empty($box['Posts'])) : ?>
                <div class=" col-xs-4">
                    <div class="box-category clearfix">
                        <?= $this->partial('partials/box-header', ['box' => $box]); ?>
                        <?= $this->partial('index/blocks/box-most-visited', ['posts' => $box['Posts']]); ?>
                    </div>
                </div>
            <?php else: ?>
                <div class=" col-xs-4">
                    <div class="clearfix paddingbot30"></div>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    <?php endforeach; ?>
</div>
<!-- Kết thúc box 2 tin tức -->