<!-- Bắt đầu box 3 tin tức -->
<?php foreach ($rowData['Box'] as $box): ?>
    <div class="box-3-category box-category">
        <?= $this->partial('partials/box-header', ['box' => $box]); ?>
        <div class="news row content">
            <?php
            $postRow = [];
            $row1 = [];
            $row2 = [];
            $row3 = [];
            foreach ($box['Posts'] as $index => $post) {
                if ($index % 3 == 0) {
                    $row1[] = $post;
                } elseif ($index % 3 == 1) {
                    $row2[] = $post;
                } elseif ($index % 3 == 2) {
                    $row3[] = $post;
                }
            }


            $postRow[] = [
                'Posts' => $row1
            ];

            $postRow[] = [
                'Posts' => $row2
            ];

            $postRow[] = [
                'Posts' => $row3
            ];
            ?>
            <?php foreach ($postRow as $postCol): ?>
                <div class="pull-left col-xs-4">
                    <?php $this->partial('index/blocks/box-layout-three', ['posts' => $postCol['Posts']]); ?>
                </div>
            <?php endforeach; ?>

            <div class="clearfix"></div>
        </div>
    </div>

<?php endforeach; ?>
<!-- Kết thúc box 3 tin tức -->