<!-- Bắt đầu box tiêu điểm -->
<div class="box-3-1 ">
    <div class="contents box-article">
        <?php foreach ($row['Box'] as $box) : ?>
            <?php if ($box['Type'] == 'Main'): ?>
                <?php $this->partial('index/blocks/main-block', ['posts' => $box['Posts']]); ?>
            <?php endif; ?>
            <?php if ($box['Type'] == 'Side'): ?>
                <div class="box-related pull-left side">
                    <ul class="group-links-timeline pull-left fs3 f-rsb">
                        <?php foreach ($box['Posts'] as $post): ; ?>
                            <li>
                                <a href="<?= $post['slug']; ?>">
                                    <h3>
                                        <?= $post['title']; ?>
                                    </h3>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
    <div class="side-bar">
        <?php foreach ($row['Box'] as $box) : ?>
            <?php if ($box['Type'] == 'box-ad'): ?>
                <div class="box-aside">
                    <?php $this->partial('partials/box-ad', ['content' => $box['Content']]);  ?>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
    <div class="clearfix">
    </div>
</div>
<!-- Kết thúc box tiêu điểm -->