<!-- Bắt đầu khu vực các tin tức -->
<div class="box-3-1 ">
    <div class="contents">
        <?php foreach ($rowData['Box'] as $box): ?>
            <?php if ($box['Type'] == '1news') : ?>
                <?= $this->partial('partials/box-one-news'); ?>
            <?php elseif ($box['Type'] == '2news') : ?>
                <?= $this->partial('partials/box-two-news'); ?>
            <?php elseif ($box['Type'] == '3news') : ?>
                <?= $this->partial('partials/box-three-news'); ?>
            <?php elseif ($box['Type'] == 'box-ad-3-4') : ?>
                <div class="full-width clearfix">
                    <?php if (!empty($box['Content'])) : ?>
                        <?= $box['Content']; ?>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>

    </div>
    <div class="side-bar">
        <?php
        foreach ($sideBoxes['Box'] as $box) : ?>
            <?php if (in_array($box['Type'], ['box-ad', 'box-securities', 'box-weather']) && !empty($box['Content'])) : ?>

                <div class="box-aside <?php if ($box['Type'] == 'box-securities') {
                    echo 'tigia';
                }; ?>">
                    <?= $box['Content']; ?>
                </div>
            <?php elseif ($box['Type'] == 'box-event') : ?>
                <div class="box-aside">
                    <?= $this->partial('partials/box-events', ['event' => $box['Event'], 'posts' => $box['Posts'], 'headerTitle' => 'Theo dòng sự kiện', 'headerLink' => \Ixosoftware\Cms\Helpers\Scaffolding::getEventSlug($box['Event']['id'], $box['Event']['metaSlug'])]); ?>
                </div>
            <?php elseif ($box['Type'] == 'Binhluannhieu' && !empty($box['Posts'])) : ?>
                <div class="box-aside">
                    <?= $this->partial('partials/box-article-most-comment'); ?>
                </div>
            <?php elseif ($box['Type'] == 'box-poll') : ?>
                <div class="box-aside">
                    <?= $this->partial('partials/box-poll'); ?>
                </div>
            <?php endif; ?>

        <?php endforeach; ?>
    </div>
    <div class="clearfix">
    </div>
</div>
<!-- Kết thúc khu vực các tin tức -->