<!-- Bắt đầu box black -->
<?php foreach ($rowData['Box'] as $box): ?>
    <div class="box-black box-category">
        <?= $this->partial('partials/box-header', ['box' => $box]); ?>
        <?php if(!empty($box['Posts'])): ?>
        <div class="news row content">

        <?php foreach ($box['Posts'] as $post): ?>

            <div class="pull-left col-5-content">
                <?= $this->partial('index/blocks/news-single-media');?>
            </div>
        <?php endforeach;?>
        </div>
        <div class="clearfix">
        </div>
        <?php endif;?>
    </div>
<?php endforeach; ?>
<!-- Kết thúc box black -->