<div class="box-category full-width">
    <?php $this->partial('partials/box-header', ['box' => ['Navigation' => [], 'Title' => 'Tin Đọc Nhiều', 'Type' => 'Custom']]); ?>
    <div class="box-most-visited">
        <ul class="related-links clear-mg-top fs3 pull-left f-rsb">
            <?php foreach ($latestPhotoAndVideos as $index => $post) : ?>
                <?php if ($index >= 9) : ?>
                    <?php
                    break;
                    ?>
                <?php endif; ?>
                <li>
                    <h3>
                        <a href="<?= $post['slug']; ?>">
                            <?= $post['title']; ?>
                            <?php $this->partial('partials/content-type'); ?>
                        </a>
                    </h3>
                    <div class="datetime">
                        <p><?= $post['publishTime']; ?></p>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>