<div class="box-category full-width box-margin-bottom">
    <?php $this->partial('partials/box-header', ['box' => ['Navigation' => [], 'Title' => 'Video', 'Type' => 'Custom']]); ?>

    <div class="box-related full-width pull-left fs4">
        <?php foreach ($latestPhotoAndVideos as $index => $post) : ?>
                <?php $this->partial('partials/article-wide-small'); ?>
        <?php endforeach; ?>
    </div>
</div>