<?php if (!empty($articlesInPage)) {
    $headerPosts = array_slice($articlesInPage, 0, count($articlesInPage) <= 7 ?: 7);
    $footerPosts = [];
    if (count($articlesInPage) > 7) {
        $footerPosts = array_slice($articlesInPage, 7, count($articlesInPage) - 7);
    }
}; ?>
    <div class="box-category box02 f-rsb">
        <?php
        $posts = $pinedArticles;
        $firstPost = array_shift($posts);
        ?>
        <?php $this->partial('partials/m.article-image-top', ['post' => $firstPost]); ?>
        <?php foreach ($posts as $index => $post) : ?>
            <?php $this->partial('partials/m.article-normal'); ?>
        <?php endforeach; ?>
        <div class="clearfix"></div>

        <!--    <% with $GetAds %>-->
        <!--    <% if $M_Header %>-->
        <!---->
        <!--    <div class="qcmobile clearfix">-->
        <!--        <div class="content">-->
        <!--            <div class="box-related full-width">-->
        <!--                $M_Header-->
        <!--            </div>-->
        <!--            <div class="clearfix"></div>-->
        <!--        </div>-->
        <!---->
        <!--    </div>-->
        <!--    <% end_if %>-->
        <!--    <% end_with %>-->

        <?php if (!empty($headerPosts)) : ?>
            <?php foreach ($headerPosts as $index => $post) : ?>
                <?php $this->partial('partials/m.article-normal'); ?>
            <?php endforeach; ?>
            <div class="clearfix"></div>
        <?php endif; ?>
    </div>

    <!--<% with $GetAds %>-->
    <!--<% if $M_Mid %>-->
    <!---->
    <!--<div class="qcmobile clearfix">-->
    <!--    <div class="content">-->
    <!--        <div class="box-related full-width">-->
    <!--            $M_Mid-->
    <!--        </div>-->
    <!--        <div class="clearfix"></div>-->
    <!--    </div>-->
    <!---->
    <!--</div>-->
    <!--<% end_if %>-->
    <!--<% end_with %>-->

<?php if (!empty($latestPhotoAndVideos)) : ?>

    <div class="box-black box-category">
        <div class="box-navigation vertical-items">
            <h3 class="title upcase fs6 f-rb">Ảnh và video</h3>
        </div>
        <div class="news row content fs3 f-rsb">
            <?php foreach ($latestPhotoAndVideos as $index => $post) : ?>
                <?php
                if ($index >= 4) {
                    break;
                }
                ?>
                <div class="pull-left col-xs-6">
                    <?php $this->partial('partials/m.article-on-black-box'); ?>
                </div>
                <?php if ($index % 2 != 0 || $index == 4) : ?>
                    <div class="clearfix"></div>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>
<?php if (!empty($footerPosts)) : ?>

    <div class="box-category box02 f-rsb">
        <?php foreach ($footerPosts as $index => $post) : ?>
            <?php $this->partial('partials/m.article-normal'); ?>
        <?php endforeach; ?>
        <div class="clearfix"></div>
    </div>
<?php else : ?>

    <div class="full-width paddingbot30"></div>
<?php endif; ?>
<?php if (!empty($pageLinks)) : ?>

    <div class="full-width vertical-items clearfix">
        <?= $pageLinks ?: ''; ?>
    </div>
<?php endif; ?>