<!-- Start boxs -->
<?php if ($isPrimaryCategory == 1 && !empty($latestPhotoAndVideos)) : ?>

    <div class="box-category full-width swiper-container h3items">
        <?php if (!empty($pinedArticles)) : ?>

            <div class="horizontal-line">
                <div class="small-line">
                </div>
            </div>
        <?php endif; ?>

        <div class="box-navigation vertical-items">
            <h3 class="title upcase fs6 f-rb">Ảnh và Video</h3>
            <div class="swiper-pagination right"></div>
        </div>
        <div class="swiper-wrapper">
            <?php foreach ($latestPhotoAndVideos as $index => $post) : ?>
                <?php
                if ($index >= 9) {
                    break;
                };
                ?>
                <div class="swiper-slide">
                    <?php $this->partial('partials/article-onslide'); ?>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="swiper-btn next"></div>
        <div class="swiper-btn prev"></div>
    </div>
<?php endif; ?>

<div class="pull-left tieudiem  main">
    <?php if (!empty($articlesInPage)) : ?>
        <div class="box-related box-margin-bottom full-width">
            <?php foreach ($articlesInPage as $index => $post) : ?>
                <?php $this->partial('partials/article-image-left'); ?>

            <?php endforeach; ?>
        </div>
    <?php else : ?>
        <div class="full-width paddingbot30"></div>
    <?php endif; ?>

    <?= $pageLinks ?: ''; ?>

</div>

<div class="box-related pull-left side">
    <?php if (!empty($mostReadArticles)) : ?>

        <?php $this->partial('category/blocks/box-most-read'); ?>
    <?php endif; ?>
    <?php if ($isPrimaryCategory != 1 && !empty($latestPhotoAndVideos)) : ?>
        <?php $this->partial('category/blocks/box-videos'); ?>
    <?php endif; ?>


    <div class="box-related pull-left side box-margin-bottom">

        <% loop $Pc_Box %>
        <div class="box-news full-width">
            $Ad
        </div>
        <% end_loop %>
    </div>
</div>