<!DOCTYPE html>
<html>
<head>
    <title><?= $metaTags['MetaTitle']; ?></title>

    <?= $this->partial('partials/meta-tags'); ?>

    <link rel="alternate" href="<?= $metaTags['MetaSlug'] ?>" hreflang="vi-vn"/>
    <?php if (!empty($metaTags['Alternates'])) : ?>
        <?php foreach ($metaTags['Alternates'] as $media => $alternate) : ?>
            <link <?php if ($media != 'amphtml') : ?>rel="alternate"<?php endif; ?> media="<?= $media ?>"
                  href="<?= $alternate ?>" hreflang="vi-vn"/>
        <?php endforeach; ?>
    <?php endif; ?>

    <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <link rel="stylesheet" href="<?= $config->application->assetsUrl ?>/css/all.min.css">
    <link rel="stylesheet" href="<?= $config->application->assetsUrl ?>/css/desktop.min.css?v=13">

    <?= $this->partial('partials/schema-meta'); ?>
    <style>
        .hide {
            display: none !important;
        }
    </style>
</head>

<body class="f-rsr fs2 isDesktop">
<!--<% include Header %>-->
<?= $this->partial('partials/header'); ?>
<!--<% include nav %>-->
<?= $this->partial('partials/menu-navigate'); ?>

<!--<% include box_ad_top %>-->
<div class="container body-aria">

    <div class="row-outer">
        <?php if (in_array($metaTags['PageType'], ['Category', 'Article'])) : ?>
            <?php $this->partial('partials/breadcrumbs'); ?>
        <?php endif; ?>
        <div class="row-inner paper clearfix">

            <?php echo $this->getContent(); ?>

        </div>
    </div>
</div>
<!--<% if $GetAds.Pc_Footer %>-->
<!---->
<!--<div class="box-qc-wide larger">-->
<!--    <style>-->
<!--        .box-qc-wide > .qc-wrapper {-->
<!--            width: 100%;-->
<!--            overflow: hidden;-->
<!--            max-width: 980px;-->
<!--            margin: auto;-->
<!--        }-->
<!--    </style>-->
<!--    <div class="qc-wrapper">-->
<!--        $GetAds.Pc_Footer-->
<!--    </div>-->
<!--</div>-->
<!--<% end_if %>-->
<!--<% include menufooter %>-->
<?= $this->partial('partials/menu-footer'); ?>
<?= $this->partial('partials/footer'); ?>
<!--<% include Footer %>-->

<!-- Chèn các file js -->

<script src="<?= $config->application->assetsUrl ?>/javascript/main.js?v=1.7"></script>


<!--<% include  googleAnalystic %>-->
<?= $this->partial('partials/footer-scripts'); ?>
<!--<%--add zalo share btn--%>-->

<script src="https://sp.zalo.me/plugins/sdk.js"></script>
<!--<%--end zalo share btn--%>-->
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=746622225473615";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


</script>
<!--<% if $GetAds.Float %>-->
<!--<div class="adsFloat">-->
<!--    $GetAds.Float-->
<!--</div>-->
<!--<% end_if %>-->

<!--<% with $Category.GetRoot.GATrackingCode %>-->
<!---->
<!--<% if $Me %>-->
<!--$Me-->
<!--<% end_if %>-->
<!--<% end_with %>-->
<!-- Chèn file js xong -->
</body>
</html>