<!DOCTYPE html>
<html>
<head>
    <title><?= $metaTags['MetaTitle'] ; ?></title>

    <?= $this->partial('partials/meta-tags'); ?>

    <link rel="alternate" href="<?= $metaTags['MetaSlug'] ?>" hreflang="vi-vn" />
    <?php if (!empty($metaTags['Alternates'])) : ?>
        <?php foreach ($metaTags['Alternates'] as $media => $alternate) : ?>
            <link <?php if ($media != 'amphtml') : ?>rel="alternate"<?php endif; ?> media="<?= $media ?>" href="<?= $alternate ?>" hreflang="vi-vn" />
        <?php endforeach; ?>
    <?php endif; ?>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <link rel="stylesheet" href="<?= $config->application->assetsUrl ?>/css/all.min.css">

    <link rel="stylesheet" href="<?= $config->application->assetsUrl ?>/css/mobile.min.css?v=14">
    <?= $this->partial('partials/schema-meta'); ?>
    <style>
        .hide {
            display: none !important;
        }
    </style>

</head>

<body class="f-rsr fs3 isMobile">
<div class="body-page">

    <?= $this->getContent(); ?>
    <?= $this->partial('partials/m.menu-footer'); ?>
    <?= $this->partial('partials/m.footer'); ?>
</div>


<script src="<?= $config->application->assetsUrl ?>/javascript/main.js?v=1.7"></script>
<!--<% include  googleAnalystic %>-->
<!--<%--add zalo share btn--%>-->

<script src="https://sp.zalo.me/plugins/sdk.js"></script>
<!--<%--end zalo share btn--%>-->
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=746622225473615";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!--thieu ga-trackking code-->
</body>
</html>

